<!DOCTYPE html>
<html ng-app="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="main.js"></script>
    <title>Document</title>
</head>
<body>
    <div ng-init="a='chaitanya'; isVisible1=true">    
        <button ng-click="isVisible1 = !isVisible1">Toggle Visibility</button>
        <p ng-show="isVisible1">{{a}}</p>
        <br/>
    </div>

    <div ng-init="b='kiran'; isVisible=true">    
        <button ng-click="isVisible = !isVisible">Toggle Visibility</button>
        <p ng-if="isVisible">{{b}}</p>
    </div>

    <div ng-init="tasks = [{task: 'Workout', status: 'done'}, {task: 'drink water', status: 'done'}]">
        <p ng-repeat="work in tasks" ng-if="work.status=='done'">{{work.task}}</p>
    </div>

    <div ng-init="tasks = [{task: 'Workout', status: 'done'}, {task: 'drink water', status: 'done'}]">
        <p ng-repeat="work in tasks" ng-if="work.status=='done'">{{tasks|json}}</p>
        <pre ng-repeat="work in tasks" ng-if="work.status=='done'">{{tasks|json}}</pre>

    </div>
    

</body>
</html>
