
.parent{
    background-color: blue;
    position: absolute;
    
    
}

.child1{
    background-color: aqua;
    
     /*Document completely ignores the existence of the child 1 */   
}
.child2{
    background-color: blueviolet;

}
.child3{

    background-color: yellow;
}
.child{
    padding: 10px;
}