<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Phone Book Bey</title>
</head>
<body>
    <div class="container" ng-controller="myController" ng-init="init()">
        <div>
            <h1> My Contacts</h1>
            <div>
                <ul ng-repeat="contact in contacts" >
                    <li>{{contact.name}} </li>
                    <li>{{contact.phoneNumber}}</li>
                    <li>{{contact.address}}</li> 
                    <span><button ng-click="editContact(contact)">Edit</button> <button ng-click="deleteContact(contact.id)">Delete</button></span>
        
                </ul>
            </div>
        </div>
        <div>
            <h1>{{ editing !== null ? 'Edit Contact' : 'Add New Contact' }}</h1>
            <div>
                <form ng-submit="addOrEditContact()">
                    <input type="text" ng-model="newContact.name" placeholder="name"/>
                    <input type="text" ng-model="newContact.number" placeholder="number"/>
                    <input type="text" ng-model="newContact.address" placeholder="address"/>
                    <br/>
                    <button type="submit">{{ editing !== null ? 'Save Contact' : 'Add Contact' }}</button>
                    <button type="button" ng-click="cancelEdit()" ng-show="editing !== null">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
