<!DOCTYPE html>
<html lang="en" ng-app="phoneBookApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Book</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container" ng-controller="PhoneBookController">
        <h1>Phone Book</h1>
        
        <form ng-submit="addOrEditContact()">
            <input type="text" ng-model="newContact.name" placeholder="Name" required><br>
            <input type="text" ng-model="newContact.phoneNumber" placeholder="Phone Number" required><br>
            <input type="text" ng-model="newContact.address" placeholder="Address" required><br>
            <button type="submit">{{ editing !== null ? 'Save Changes' : 'Add' }}</button>
            <button type="button" ng-click="cancelEdit()" ng-show="editing !== null">Cancel</button>
        </form>

        <input type="text" ng-model="searchQuery" placeholder="Search contacts">
        
        <ul class="contact-list">
            <li class="contact-item" ng-repeat="contact in filteredContacts = (contacts | filter:searchQuery)">

                <div ng-if="editIndex !== $index">
                    <strong>{{contact.name}}</strong><br>
                    Phone: {{contact.phoneNumber}}<br>
                    Address: {{contact.address}}
                    <div class="button-group">
                        <button class="edit-button" ng-click="editContact($index)">Edit</button>
                        <button class="delete-button" ng-click="deleteContact($index)">Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
</body>  
</html>
